<%- include('./partials/header', { title: 'Home' }) %>

<% if ( characters ) { %> <% characters.forEach(function(character) { %>
  <div style="text-align: center">Character <strong><%= character.name %></strong> of faction <strong><%= character.faction %></strong> has <strong><%= character.quest_count  %></strong> quest[s] to complete</div>
<% }) %> <% } else { %>
  <div style="text-align: center;">All characters on standby.</div>
<% } %>

<%- include('./partials/footer') %>
